<form class="row g-3 mb-4" #form="ngForm" (ngSubmit)="agregarPaciente()">
  <div class="col-md-4">
    <input type="text" class="form-control" placeholder="RUT" [(ngModel)]="nuevoPaciente.rut" name="rut" required />
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control" placeholder="Nombres" [(ngModel)]="nuevoPaciente.nombres" name="nombres" required />
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control" placeholder="Apellido" [(ngModel)]="nuevoPaciente.apellido" name="apellido" required />
  </div>
  <div class="col-md-4">
    <input type="email" class="form-control" placeholder="Correo electrónico" [(ngModel)]="nuevoPaciente.correo" name="correo" required />
  </div>
  <div class="col-md-4">
    <input type="tel" class="form-control" placeholder="Teléfono" [(ngModel)]="nuevoPaciente.telefono" name="telefono" required />
  </div>
  <div class="col-md-4">
    <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="nuevoPaciente.contrasena" name="contrasena" required />
  </div>
  <div class="col-md-4">
    <input type="password" class="form-control" placeholder="Repetir Contraseña" [(ngModel)]="repetirContrasena" name="repetirContrasena" required />
  </div>
  <div class="col-md-4">
    <button
      class="btn btn-secondary w-100"
      type="submit"
      [disabled]="!form.valid || nuevoPaciente.contrasena !== repetirContrasena"
    >
      Agregar
    </button>
  </div>
</form>
